* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*fundo adicionado e preenchido/*

  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */

  /*encurtando o código acima*/

  /*background: color image repeat position/size*/
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

/*Fonte e cor da letra*/
body * {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

/* ID pai = centralizar*/
#profile {
  text-align: center;
}

/* ID filho = definições da imagem*/
#profile img {
  width: 112px;
}

/* ID filho = definições da letra*/
#profile p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
